<script src="../dependencies/jquery.min.js"></script>
<script src="../data.tabs.js"></script>
<div class="JS-Tabs">
     <ul class="JS-Tabs-Navigation">
         <li data-tab='Tabs-1' class="Tab-Active">Tab 1</li>
         <li data-tab='Tabs-2'>Tab 2</li>
     </ul>
     <ul class="JS-Tabs-Content">
         <li data-tab='Tabs-1'>Content 1</li>
         <li data-tab='Tabs-1'>Content 1</li>
         <li data-tab='Tabs-2'>Content 2</li>
         <li data-tab='Tabs-2'>Content 2</li>
         <li data-tab='Tabs-2'>Content 2</li></ul>
</div>


<div class="JS-Tabs">
    <ul class="JS-Tabs-Navigation">
        <li data-tab='Tabs-1' class="Tab-Active">Tab 1</li>
        <li data-tab='Tabs-2'>Tab 2</li>
    </ul>
    <ul class="JS-Tabs-Content">
        <li data-tab='Tabs-1'>Content 1</li>
        <li data-tab='Tabs-1'>Content 1</li>
        <li data-tab='Tabs-2'>Content 2</li>
        <li data-tab='Tabs-2'>Content 2</li>
        <li data-tab='Tabs-2'>Content 2</li></ul>
</div>



<div class="JS-Tabs">
    <ul class="JS-Tabs-Navigation">
        <li data-tab='Tabs-1' class="Tab-Active">Tab 1</li>
        <li data-tab='Tabs-2'>Tab 2</li>
    </ul>
    <ul class="JS-Tabs-Content">
        <li data-tab='Tabs-1'>Content 1</li>
        <li data-tab='Tabs-1'>Content 1</li>
        <li data-tab='Tabs-2'>Content 2</li>
        <li data-tab='Tabs-2'>Content 2</li>
        <li data-tab='Tabs-2'>Content 2</li></ul>
</div>