<script src="../dependencies/jquery.min.js"></script>
<script src="../data.scroll-on-button.js"></script>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .JS-Block-Scroll{
        width: 100%;
        height: 1000px;
        text-align: center;
    }


    ul{
        text-align: center;
    }
    li{
        display: inline-block;
        border: 1px solid black;
        padding: 10px;
    }

</style>
<div class="JS-Menu-Scroll">
    <ul>
        <li data-scroll-block="Block-1">Scroll to Block 1</li>
        <li data-scroll-block="Block-2">Scroll to Block 2</li>
    </ul>
</div>


<div class="Blocks">
    <div class="JS-Block-Scroll">Block Top</div>
    <div data-scroll-block="Block-1" class="JS-Block-Scroll">Block 1</div>
    <div data-scroll-block="Block-2" class="JS-Block-Scroll">Block 2</div>

</div>

