<script src="../data.placeholder.js"></script>
<link rel="stylesheet" href="../scss/data.placeholder.scss">

<input class="JS-Placeholder" data-animate="slide" id="Input-1" placeholder="Name">
<input class="JS-Placeholder" id="Input-2" placeholder="Name">
