<script src="../dependencies/jquery.min.js"></script>
<script src="../data.countdown.js"></script>
<style>
    .JS-Countdown>div{
        padding-left: 20px;
    }
    div {
        display: inline-block;
    }
</style>
<div class="JS-Countdown" data-countdown="01 January 2016 00:00:00"></div>