<!-- List of used libraries-->

<script src="dependencies/jquery.min.js"></script>
<script src="dependencies/jquery.actual.min.js"></script>
<script src="dependencies/wow.min.js"></script>

<!-- List of actual jQuery Data Scripts -->

<script src="data.mobile-menu.js"></script>
<script src="data.page-preloader.js"></script>
<script src="data.vertical-align.js"></script>
<script src="data.modal.js"></script>
<script src="data.form.js"></script>
<script src="data.current-link.js"></script>
<script src="data.map-descroll.js"></script>
<script src="data.typography.js"></script>

<script src="test.js"></script>