@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Version - 3.4.0
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated
{
	animation-duration  : 1s;
	animation-fill-mode : both;
}

.animated.infinite
{
	animation-iteration-count : infinite;
}

.animated.hinge
{
	animation-duration : 2s;
}

.animated.bounceIn,
.animated.bounceOut
{
	animation-duration : .75s;
}

.animated.flipOutX,
.animated.flipOutY
{
	animation-duration : .75s;
}

@keyframes bounce
{
	from, 20%, 53%, 80%, to
	{
		-webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform                 : translate3d(0, 0, 0);
		transform                         : translate3d(0, 0, 0);
	}

	40%, 43%
	{
		-webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
		animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform                 : translate3d(0, -30px, 0);
		transform                         : translate3d(0, -30px, 0);
	}

	70%
	{
		-webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
		animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform                 : translate3d(0, -15px, 0);
		transform                         : translate3d(0, -15px, 0);
	}

	90%
	{
		-webkit-transform : translate3d(0, -4px, 0);
		transform         : translate3d(0, -4px, 0);
	}
}

.bounce
{
	-webkit-animation-name   : bounce;
	animation-name           : bounce;
	-webkit-transform-origin : center bottom;
	transform-origin         : center bottom;
}

@keyframes bounceIn
{
	from, 20%, 40%, 60%, 80%, to
	{
		-webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0%
	{
		opacity           : 0;
		-webkit-transform : scale3d(.3, .3, .3);
		transform         : scale3d(.3, .3, .3);
	}

	20%
	{
		-webkit-transform : scale3d(1.1, 1.1, 1.1);
		transform         : scale3d(1.1, 1.1, 1.1);
	}

	40%
	{
		-webkit-transform : scale3d(.9, .9, .9);
		transform         : scale3d(.9, .9, .9);
	}

	60%
	{
		opacity           : 1;
		-webkit-transform : scale3d(1.03, 1.03, 1.03);
		transform         : scale3d(1.03, 1.03, 1.03);
	}

	80%
	{
		-webkit-transform : scale3d(.97, .97, .97);
		transform         : scale3d(.97, .97, .97);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : scale3d(1, 1, 1);
		transform         : scale3d(1, 1, 1);
	}
}

.bounceIn
{
	-webkit-animation-name : bounceIn;
	animation-name         : bounceIn;
}

@keyframes bounceInDown
{
	from, 60%, 75%, 90%, to
	{
		-webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0%
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, -3000px, 0);
		transform         : translate3d(0, -3000px, 0);
	}

	60%
	{
		opacity           : 1;
		-webkit-transform : translate3d(0, 25px, 0);
		transform         : translate3d(0, 25px, 0);
	}

	75%
	{
		-webkit-transform : translate3d(0, -10px, 0);
		transform         : translate3d(0, -10px, 0);
	}

	90%
	{
		-webkit-transform : translate3d(0, 5px, 0);
		transform         : translate3d(0, 5px, 0);
	}

	to
	{
		-webkit-transform : none;
		transform         : none;
	}
}

.bounceInDown
{
	-webkit-animation-name : bounceInDown;
	animation-name         : bounceInDown;
}

@keyframes bounceInLeft
{
	from, 60%, 75%, 90%, to
	{
		-webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0%
	{
		opacity           : 0;
		-webkit-transform : translate3d(-3000px, 0, 0);
		transform         : translate3d(-3000px, 0, 0);
	}

	60%
	{
		opacity           : 1;
		-webkit-transform : translate3d(25px, 0, 0);
		transform         : translate3d(25px, 0, 0);
	}

	75%
	{
		-webkit-transform : translate3d(-10px, 0, 0);
		transform         : translate3d(-10px, 0, 0);
	}

	90%
	{
		-webkit-transform : translate3d(5px, 0, 0);
		transform         : translate3d(5px, 0, 0);
	}

	to
	{
		-webkit-transform : none;
		transform         : none;
	}
}

.bounceInLeft
{
	-webkit-animation-name : bounceInLeft;
	animation-name         : bounceInLeft;
}

@keyframes bounceInRight
{
	from, 60%, 75%, 90%, to
	{
		-webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(3000px, 0, 0);
		transform         : translate3d(3000px, 0, 0);
	}

	60%
	{
		opacity           : 1;
		-webkit-transform : translate3d(-25px, 0, 0);
		transform         : translate3d(-25px, 0, 0);
	}

	75%
	{
		-webkit-transform : translate3d(10px, 0, 0);
		transform         : translate3d(10px, 0, 0);
	}

	90%
	{
		-webkit-transform : translate3d(-5px, 0, 0);
		transform         : translate3d(-5px, 0, 0);
	}

	to
	{
		-webkit-transform : none;
		transform         : none;
	}
}

.bounceInRight
{
	-webkit-animation-name : bounceInRight;
	animation-name         : bounceInRight;
}

@keyframes bounceInUp
{
	from, 60%, 75%, 90%, to
	{
		-webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, 3000px, 0);
		transform         : translate3d(0, 3000px, 0);
	}

	60%
	{
		opacity           : 1;
		-webkit-transform : translate3d(0, -20px, 0);
		transform         : translate3d(0, -20px, 0);
	}

	75%
	{
		-webkit-transform : translate3d(0, 10px, 0);
		transform         : translate3d(0, 10px, 0);
	}

	90%
	{
		-webkit-transform : translate3d(0, -5px, 0);
		transform         : translate3d(0, -5px, 0);
	}

	to
	{
		-webkit-transform : translate3d(0, 0, 0);
		transform         : translate3d(0, 0, 0);
	}
}

.bounceInUp
{
	-webkit-animation-name : bounceInUp;
	animation-name         : bounceInUp;
}

@keyframes bounceOut
{
	20%
	{
		-webkit-transform : scale3d(.9, .9, .9);
		transform         : scale3d(.9, .9, .9);
	}

	50%, 55%
	{
		opacity           : 1;
		-webkit-transform : scale3d(1.1, 1.1, 1.1);
		transform         : scale3d(1.1, 1.1, 1.1);
	}

	to
	{
		opacity           : 0;
		-webkit-transform : scale3d(.3, .3, .3);
		transform         : scale3d(.3, .3, .3);
	}
}

.bounceOut
{
	-webkit-animation-name : bounceOut;
	animation-name         : bounceOut;
}

@keyframes bounceOutDown
{
	20%
	{
		-webkit-transform : translate3d(0, 10px, 0);
		transform         : translate3d(0, 10px, 0);
	}

	40%, 45%
	{
		opacity           : 1;
		-webkit-transform : translate3d(0, -20px, 0);
		transform         : translate3d(0, -20px, 0);
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, 2000px, 0);
		transform         : translate3d(0, 2000px, 0);
	}
}

.bounceOutDown
{
	animation-name : bounceOutDown;
}

@keyframes bounceOutLeft
{
	20%
	{
		opacity   : 1;
		transform : translate3d(20px, 0, 0);
	}

	to
	{
		opacity   : 0;
		transform : translate3d(-2000px, 0, 0);
	}
}

.bounceOutLeft
{
	animation-name : bounceOutLeft;
}

@keyframes bounceOutRight
{
	20%
	{
		opacity   : 1;
		transform : translate3d(-20px, 0, 0);
	}

	to
	{
		opacity   : 0;
		transform : translate3d(2000px, 0, 0);
	}
}

.bounceOutRight
{
	animation-name : bounceOutRight;
}

@keyframes bounceOutUp
{
	20%
	{
		transform : translate3d(0, -10px, 0);
	}

	40%, 45%
	{
		opacity   : 1;
		transform : translate3d(0, 20px, 0);
	}

	to
	{
		opacity   : 0;
		transform : translate3d(0, -2000px, 0);
	}
}

.bounceOutUp
{
	animation-name : bounceOutUp;
}

@keyframes fadeIn
{
	from
	{
		opacity : 0;
	}

	to
	{
		opacity : 1;
	}
}

.fadeIn
{
	animation-name : fadeIn;
}

@keyframes fadeInDown
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, -100%, 0);
		transform         : translate3d(0, -100%, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInDown
{
	-webkit-animation-name : fadeInDown;
	animation-name         : fadeInDown;
}

@keyframes fadeInDownBig
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, -2000px, 0);
		transform         : translate3d(0, -2000px, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInDownBig
{
	-webkit-animation-name : fadeInDownBig;
	animation-name         : fadeInDownBig;
}

@keyframes fadeInLeft
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(-100%, 0, 0);
		transform         : translate3d(-100%, 0, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInLeft
{
	-webkit-animation-name : fadeInLeft;
	animation-name         : fadeInLeft;
}

@keyframes fadeInLeftBig
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(-2000px, 0, 0);
		transform         : translate3d(-2000px, 0, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInLeftBig
{
	-webkit-animation-name : fadeInLeftBig;
	animation-name         : fadeInLeftBig;
}

@keyframes fadeInRight
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(100%, 0, 0);
		transform         : translate3d(100%, 0, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInRight
{
	-webkit-animation-name : fadeInRight;
	animation-name         : fadeInRight;
}

@keyframes fadeInRightBig
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(2000px, 0, 0);
		transform         : translate3d(2000px, 0, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInRightBig
{
	-webkit-animation-name : fadeInRightBig;
	animation-name         : fadeInRightBig;
}

@keyframes fadeInUp
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, 100%, 0);
		transform         : translate3d(0, 100%, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInUp
{
	-webkit-animation-name : fadeInUp;
	animation-name         : fadeInUp;
}

@keyframes fadeInUpBig
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, 2000px, 0);
		transform         : translate3d(0, 2000px, 0);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.fadeInUpBig
{
	-webkit-animation-name : fadeInUpBig;
	animation-name         : fadeInUpBig;
}

@keyframes fadeOut
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity : 0;
	}
}

.fadeOut
{
	-webkit-animation-name : fadeOut;
	animation-name         : fadeOut;
}

@keyframes fadeOutDown
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, 100%, 0);
		transform         : translate3d(0, 100%, 0);
	}
}

.fadeOutDown
{
	-webkit-animation-name : fadeOutDown;
	animation-name         : fadeOutDown;
}

@keyframes fadeOutDownBig
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, 2000px, 0);
		transform         : translate3d(0, 2000px, 0);
	}
}

.fadeOutDownBig
{
	-webkit-animation-name : fadeOutDownBig;
	animation-name         : fadeOutDownBig;
}

@keyframes fadeOutLeft
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(-100%, 0, 0);
		transform         : translate3d(-100%, 0, 0);
	}
}

.fadeOutLeft
{
	-webkit-animation-name : fadeOutLeft;
	animation-name         : fadeOutLeft;
}

@keyframes fadeOutLeftBig
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(-2000px, 0, 0);
		transform         : translate3d(-2000px, 0, 0);
	}
}

.fadeOutLeftBig
{
	-webkit-animation-name : fadeOutLeftBig;
	animation-name         : fadeOutLeftBig;
}

@keyframes fadeOutRight
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(100%, 0, 0);
		transform         : translate3d(100%, 0, 0);
	}
}

.fadeOutRight
{
	-webkit-animation-name : fadeOutRight;
	animation-name         : fadeOutRight;
}

@keyframes fadeOutRightBig
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(2000px, 0, 0);
		transform         : translate3d(2000px, 0, 0);
	}
}

.fadeOutRightBig
{
	-webkit-animation-name : fadeOutRightBig;
	animation-name         : fadeOutRightBig;
}

@keyframes fadeOutUp
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, -100%, 0);
		transform         : translate3d(0, -100%, 0);
	}
}

.fadeOutUp
{
	-webkit-animation-name : fadeOutUp;
	animation-name         : fadeOutUp;
}

@keyframes fadeOutUpBig
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(0, -2000px, 0);
		transform         : translate3d(0, -2000px, 0);
	}
}

.fadeOutUpBig
{
	-webkit-animation-name : fadeOutUpBig;
	animation-name         : fadeOutUpBig;
}

@keyframes flip
{
	from
	{
		-webkit-transform                 : perspective(400px) rotate3d(0, 1, 0, -360deg);
		transform                         : perspective(400px) rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function : ease-out;
		animation-timing-function         : ease-out;
	}

	40%
	{
		-webkit-transform                 : perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		transform                         : perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		-webkit-animation-timing-function : ease-out;
		animation-timing-function         : ease-out;
	}

	50%
	{
		-webkit-transform                 : perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		transform                         : perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
	}

	80%
	{
		-webkit-transform                 : perspective(400px) scale3d(.95, .95, .95);
		transform                         : perspective(400px) scale3d(.95, .95, .95);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
	}

	to
	{
		-webkit-transform                 : perspective(400px);
		transform                         : perspective(400px);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
	}
}

.animated.flip
{
	-webkit-backface-visibility : visible;
	backface-visibility         : visible;
	-webkit-animation-name      : flip;
	animation-name              : flip;
}

@keyframes flipInX
{
	from
	{
		-webkit-transform                 : perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform                         : perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
		opacity                           : 0;
	}

	40%
	{
		-webkit-transform                 : perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform                         : perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
	}

	60%
	{
		-webkit-transform : perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform         : perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity           : 1;
	}

	80%
	{
		-webkit-transform : perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform         : perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	to
	{
		-webkit-transform : perspective(400px);
		transform         : perspective(400px);
	}
}

.flipInX
{
	-webkit-backface-visibility : visible !important;
	backface-visibility         : visible !important;
	-webkit-animation-name      : flipInX;
	animation-name              : flipInX;
}

@keyframes flipInY
{
	from
	{
		-webkit-transform                 : perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform                         : perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
		opacity                           : 0;
	}

	40%
	{
		-webkit-transform                 : perspective(400px) rotate3d(0, 1, 0, -20deg);
		transform                         : perspective(400px) rotate3d(0, 1, 0, -20deg);
		-webkit-animation-timing-function : ease-in;
		animation-timing-function         : ease-in;
	}

	60%
	{
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity           : 1;
	}

	80%
	{
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to
	{
		-webkit-transform : perspective(400px);
		transform         : perspective(400px);
	}
}

.flipInY
{
	-webkit-backface-visibility : visible !important;
	backface-visibility         : visible !important;
	-webkit-animation-name      : flipInY;
	animation-name              : flipInY;
}

@keyframes flipOutX
{
	from
	{
		-webkit-transform : perspective(400px);
		transform         : perspective(400px);
	}

	30%
	{
		-webkit-transform : perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform         : perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity           : 1;
	}

	to
	{
		-webkit-transform : perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform         : perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity           : 0;
	}
}

.flipOutX
{
	-webkit-animation-name      : flipOutX;
	animation-name              : flipOutX;
	-webkit-backface-visibility : visible !important;
	backface-visibility         : visible !important;
}

@keyframes flipOutY
{
	from
	{
		-webkit-transform : perspective(400px);
		transform         : perspective(400px);
	}

	30%
	{
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, -15deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, -15deg);
		opacity           : 1;
	}

	to
	{
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, 90deg);
		opacity           : 0;
	}
}

.flipOutY
{
	-webkit-backface-visibility : visible !important;
	backface-visibility         : visible !important;
	-webkit-animation-name      : flipOutY;
	animation-name              : flipOutY;
}

@keyframes lightSpeedIn
{
	from
	{
		-webkit-transform : translate3d(100%, 0, 0) skewX(-30deg);
		transform         : translate3d(100%, 0, 0) skewX(-30deg);
		opacity           : 0;
	}

	60%
	{
		-webkit-transform : skewX(20deg);
		transform         : skewX(20deg);
		opacity           : 1;
	}

	80%
	{
		-webkit-transform : skewX(-5deg);
		transform         : skewX(-5deg);
		opacity           : 1;
	}

	to
	{
		-webkit-transform : none;
		transform         : none;
		opacity           : 1;
	}
}

.lightSpeedIn
{
	-webkit-animation-name            : lightSpeedIn;
	animation-name                    : lightSpeedIn;
	-webkit-animation-timing-function : ease-out;
	animation-timing-function         : ease-out;
}

@keyframes lightSpeedOut
{
	from
	{
		opacity : 1;
	}

	to
	{
		-webkit-transform : translate3d(100%, 0, 0) skewX(30deg);
		transform         : translate3d(100%, 0, 0) skewX(30deg);
		opacity           : 0;
	}
}

.lightSpeedOut
{
	-webkit-animation-name            : lightSpeedOut;
	animation-name                    : lightSpeedOut;
	-webkit-animation-timing-function : ease-in;
	animation-timing-function         : ease-in;
}

@keyframes hinge
{
	0%
	{
		-webkit-transform-origin          : top left;
		transform-origin                  : top left;
		-webkit-animation-timing-function : ease-in-out;
		animation-timing-function         : ease-in-out;
	}

	20%, 60%
	{
		-webkit-transform                 : rotate3d(0, 0, 1, 80deg);
		transform                         : rotate3d(0, 0, 1, 80deg);
		-webkit-transform-origin          : top left;
		transform-origin                  : top left;
		-webkit-animation-timing-function : ease-in-out;
		animation-timing-function         : ease-in-out;
	}

	40%, 80%
	{
		-webkit-transform                 : rotate3d(0, 0, 1, 60deg);
		transform                         : rotate3d(0, 0, 1, 60deg);
		-webkit-transform-origin          : top left;
		transform-origin                  : top left;
		-webkit-animation-timing-function : ease-in-out;
		animation-timing-function         : ease-in-out;
		opacity                           : 1;
	}

	to
	{
		-webkit-transform : translate3d(0, 700px, 0);
		transform         : translate3d(0, 700px, 0);
		opacity           : 0;
	}
}

.hinge
{
	-webkit-animation-name : hinge;
	animation-name         : hinge;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn
{
	from
	{
		opacity           : 0;
		-webkit-transform : translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		transform         : translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}

	to
	{
		opacity           : 1;
		-webkit-transform : none;
		transform         : none;
	}
}

.rollIn
{
	-webkit-animation-name : rollIn;
	animation-name         : rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut
{
	from
	{
		opacity : 1;
	}

	to
	{
		opacity           : 0;
		-webkit-transform : translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		transform         : translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}
}

.rollOut
{
	-webkit-animation-name : rollOut;
	animation-name         : rollOut;
}

@keyframes zoomIn
{
	from
	{
		opacity           : 0;
		-webkit-transform : scale3d(.3, .3, .3);
		transform         : scale3d(.3, .3, .3);
	}

	50%
	{
		opacity : 1;
	}
}

.zoomIn
{
	-webkit-animation-name : zoomIn;
	animation-name         : zoomIn;
}

@keyframes zoomInDown
{
	from
	{
		opacity                           : 0;
		-webkit-transform                 : scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		transform                         : scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function : cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function         : cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60%
	{
		opacity                           : 1;
		-webkit-transform                 : scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		transform                         : scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function : cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function         : cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomInDown
{
	-webkit-animation-name : zoomInDown;
	animation-name         : zoomInDown;
}

@keyframes zoomInLeft
{
	from
	{
		opacity                           : 0;
		-webkit-transform                 : scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		transform                         : scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function : cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function         : cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60%
	{
		opacity                           : 1;
		-webkit-transform                 : scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		transform                         : scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		-webkit-animation-timing-function : cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function         : cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomInLeft
{
	-webkit-animation-name : zoomInLeft;
	animation-name         : zoomInLeft;
}

@keyframes zoomInRight
{
	from
	{
		opacity                           : 0;
		-webkit-transform                 : scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		transform                         : scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function : cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function         : cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60%
	{
		opacity                           : 1;
		-webkit-transform                 : scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		transform                         : scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		-webkit-animation-timing-function : cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function         : cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomInRight
{
	-webkit-animation-name : zoomInRight;
	animation-name         : zoomInRight;
}

@keyframes zoomInUp
{
	from
	{
		opacity                           : 0;
		-webkit-transform                 : scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
		transform                         : scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
		-webkit-animation-timing-function : cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function         : cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60%
	{
		opacity                           : 1;
		-webkit-transform                 : scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		transform                         : scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function : cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function         : cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomInUp
{
	-webkit-animation-name : zoomInUp;
	animation-name         : zoomInUp;
}

@keyframes zoomOut
{
	from
	{
		opacity : 1;
	}

	50%
	{
		opacity           : 0;
		-webkit-transform : scale3d(.3, .3, .3);
		transform         : scale3d(.3, .3, .3);
	}

	to
	{
		opacity : 0;
	}
}

.zoomOut
{
	-webkit-animation-name : zoomOut;
	animation-name         : zoomOut;
}

@keyframes zoomOutDown
{
	40%
	{
		opacity                           : 1;
		-webkit-transform                 : scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		transform                         : scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function : cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function         : cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	to
	{
		opacity                           : 0;
		-webkit-transform                 : scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		transform                         : scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		-webkit-transform-origin          : center bottom;
		transform-origin                  : center bottom;
		-webkit-animation-timing-function : cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function         : cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomOutDown
{
	-webkit-animation-name : zoomOutDown;
	animation-name         : zoomOutDown;
}

@keyframes zoomOutLeft
{
	40%
	{
		opacity           : 1;
		-webkit-transform : scale3d(.475, .475, .475) translate3d(42px, 0, 0);
		transform         : scale3d(.475, .475, .475) translate3d(42px, 0, 0);
	}

	to
	{
		opacity                  : 0;
		-webkit-transform        : scale(.1) translate3d(-2000px, 0, 0);
		transform                : scale(.1) translate3d(-2000px, 0, 0);
		-webkit-transform-origin : left center;
		transform-origin         : left center;
	}
}

.zoomOutLeft
{
	-webkit-animation-name : zoomOutLeft;
	animation-name         : zoomOutLeft;
}

@keyframes zoomOutRight
{
	40%
	{
		opacity           : 1;
		-webkit-transform : scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
		transform         : scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
	}

	to
	{
		opacity                  : 0;
		-webkit-transform        : scale(.1) translate3d(2000px, 0, 0);
		transform                : scale(.1) translate3d(2000px, 0, 0);
		transform-origin         : right center;
	}
}

.zoomOutRight
{
	animation-name         : zoomOutRight;
}

@keyframes zoomOutUp
{
	40%
	{
		opacity                           : 1;
		transform                         : scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		animation-timing-function         : cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	to
	{
		opacity                   : 0;
		transform                 : scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
		transform-origin          : center bottom;
		animation-timing-function : cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomOutUp
{
	animation-name         : zoomOutUp;
}

@keyframes slideInDown
{
	from
	{
		transform  : translate3d(0, -100%, 0);
		visibility : visible;
	}

	to
	{
		transform : translate3d(0, 0, 0);
	}
}

.slideInDown
{
	animation-name : slideInDown;
}

@keyframes slideInLeft
{
	from
	{
		transform  : translate3d(-100%, 0, 0);
		visibility : visible;
	}

	to
	{
		transform : translate3d(0, 0, 0);
	}
}

.slideInLeft
{
	animation-name : slideInLeft;
}

@keyframes slideInRight
{
	from
	{
		transform  : translate3d(100%, 0, 0);
		visibility : visible;
	}

	to
	{
		transform : translate3d(0, 0, 0);
	}
}

.slideInRight
{
	animation-name : slideInRight;
}

@keyframes slideInUp
{
	from
	{
		transform  : translate3d(0, 100%, 0);
		visibility : visible;
	}

	to
	{
		transform : translate3d(0, 0, 0);
	}
}

.slideInUp
{
	animation-name : slideInUp;
}

@keyframes slideOutDown
{
	from
	{
		transform : translate3d(0, 0, 0);
	}

	to
	{
		visibility : hidden;
		transform  : translate3d(0, 100%, 0);
	}
}

.slideOutDown
{
	animation-name : slideOutDown;
}

@keyframes slideOutLeft
{
	from
	{
		transform : translate3d(0, 0, 0);
	}

	to
	{
		visibility : hidden;
		transform  : translate3d(-100%, 0, 0);
	}
}

.slideOutLeft
{
	animation-name : slideOutLeft;
}

@keyframes slideOutRight
{
	from
	{
		transform : translate3d(0, 0, 0);
	}

	to
	{
		visibility : hidden;
		transform  : translate3d(100%, 0, 0);
	}
}

.slideOutRight
{
	animation-name : slideOutRight;
}

@keyframes slideOutUp
{
	from
	{
		transform : translate3d(0, 0, 0);
	}

	to
	{
		visibility : hidden;
		transform  : translate3d(0, -100%, 0);
	}
}

.slideOutUp
{
	animation-name : slideOutUp;
}