////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Block-Centrate
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%Block-Centrate
{
    margin-left  : auto;
    margin-right : auto;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%Transparent-Black
{
    background-color : rgba(0, 0, 0, .8);
}

.Show-Mobile-Only
{
    @include Adaptive('>=tablet')
    {
        display : none;
    }
}

%Clearfix
{
    &:after
    {
        content : "";
        display : table;
        clear   : both;
    }

}

%Content-Node
{
    @include Adaptive('>=tablet')
    {
        margin-left  : auto;
        margin-right : auto;
        width        : 700px;
    }

    @include Adaptive('>=desktop')
    {
        width : 1000px;
    }

    @include Adaptive('>=hdready')
    {
        width : 1200px;
    }
}

%Input-Std
{
    padding          : 0 30px;
    line-height      : 40px;
    font-weight      : 600;
    font-size        : 24px;
    background-color : #fff;
    box-shadow       : inset 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    color            : #000;
    border           : 1px solid #fff;
    border-radius    : 4px;
    transition       : all .3s;

    &:focus
    {
        outline    : 0;
        box-shadow : 0 0 28px 3px rgba(255, 77, 0, 0.5),
        inset 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    }
}

%Button-Std
{
    padding          : 11px 20px;
    text-transform   : uppercase;
    font-family      : inherit;
    font-size        : 15px;
    letter-spacing   : .03em;
    color            : #fff;
    background-color : $Color-Primary;
    border           : 0;
    border-radius    : 4px;
    cursor           : pointer;
    text-shadow      : 2px 2px 0 rgba(0, 0, 0, .2);
    transition       : 0.3s ease;
    &:hover
    {
        background-color : $Color-Secondary;
        transition       : 0.3s ease;
    }
}

%Block-Standard
{
    border-radius    : 2px;
    margin           : 100px 15px 0;
    padding          : 20px;
    border-top       : 4px solid $Color-Primary;
    background-color : #fff;
    box-shadow       : 0 2px 0 0 rgba(0, 0, 0, 0.1);

    @include Adaptive('>=tablet')
    {
        margin  : 100px auto;
        padding : 30px;
    }
}

%Heading-Std
{
    font-size      : 20px;
    color          : $Color-Primary;
    letter-spacing : .03em;
    text-align     : center;
    text-transform : uppercase;

    @include Adaptive('>=tablet')
    {
        font-size : 25px;
    }
}