// ---------------------------------------------------------------------------------------------------------------------
//
// Variables List
//
// ---------------------------------------------------------------------------------------------------------------------
$Grid-Size : 7;
$Grid-Prefixes : (
        'MS' : '240',
        'ML' : '320',
        'TS' : '480',
        'TL' : '768',
        'DS' : '1024',
        'DL' : '1280'
);
// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------
$Viewports: (
        'old-phone': 240px,
        'phone': 320px,
        'tablet-small': 480px,
        'tablet': 768px,
        'desktop': 1024px,
        'hdready': 1280px,
        'hd' : 1366px,
        'fhd': 1920px
) !default;

$Viewport-Expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
            'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;
// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------
$Color-Primary: #ff4d00;
$Color-Secondary: #e02c00;
$Color-Gray: #555;
$Color-Buttons-Header: #da4c24;
$Color-Text: #ee3c28;

$Border-Radius: 10px;

$Section-Padding: 75px;
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------
$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';
// ---------------------------------------------------------------------------------------------------------------------
