.Script-Modal
{
    display          : none;
    position         : fixed;
    z-index          : 1000;
    top              : 0;
    bottom           : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, .5);

    .Script-Modal-Box
    {
        position         : relative;
        width            : 400px;
        padding          : 45px 25px;
        margin           : 0 auto;

        background-color : #fff;
    }

    .Script-Modal-Close
    {
        position  : absolute;
        width     : 25px;
        top       : 10px;
        right     : 10px;
        font-size : 36px;
        cursor    : pointer;
    }

    .Script-Form-Result
    {
        padding     : 10px 0 0;
        font-weight : 700;
        text-align  : center;

        &.Error
        {
            color : #bf0000;
        }
    }

    // Custom
    .Script-Modal-Box
    {
        border-radius : $Border-Radius;
    }

    h4
    {
        text-align     : center;
        text-transform : uppercase;
        font-size      : 19.5px;
    }

    input
    {
        width         : 100%;
        padding       : 20px 15px;
        margin-top    : 20px;
        border-radius : 10px;
        border        : 2px solid #ae4f0d;
        outline       : none;
        font-size     : 18px;
    }
    .Callback-Button
    {
        width : 100%;
    }
}





