.JS-Window
{
    display          : none;
    position         : fixed;
    z-index          : 1000;
    top              : 0;
    bottom           : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, .5);

    .JS-Window-Box
    {
        position         : absolute;
        width            : 80%;
        height           : 60%;

        top              : 20%;
        bottom           : 20%;
        left             : 10%;
        right            : 10%;
        padding          : 30px;
        margin           : 0 auto;
        @include Adaptive('<desktop')
        {
            padding : 15px;
        }

        border-radius    : 2px;
        background-color : #fff;
    }

    .JS-Window-Close
    {
        position  : absolute;
        width     : 25px;
        top       : 4px;
        right     : -1px;
        font-size : 24px;
        cursor    : pointer;
        color     : #ff4d00;
        @include Adaptive('<desktop')
        {
            top       : -1px;
            right     : -11px;
            font-size : 18px;
            font-size : 18px;
        }
    }

    .JS-Form-Result
    {
        padding     : 10px 0 0;
        font-weight : 700;
        text-align  : center;

        &.Error
        {
            color : #bf0000;
        }
    }

    iframe
    {
        width  : 100%;
        height : 100%;
    }
}





