.About-Us
{
    @extend %Content-Node;
    @extend %Block-Standard;

    font-size: 15px;
    line-height: 1.45;

    article
    {
        @include Adaptive( '>tablet' )
        {
            column-count: 2;
            column-gap: 20px;
        }
    }

    h3
    {
        @extend %Heading-Std;
    }

    h5
    {
        font-weight: 600;
    }

    * + *
    {
        margin-top: 15px;
    }

    ul
    {
        list-style: disc outside;
        li
        {
            margin-left: 15px;
        }
    }
}