// ---------------------------------------------------------------------------------------------------------------------
// 03. Advantages
// ---------------------------------------------------------------------------------------------------------------------

.Advantages
{
    position   : relative;

    @include Adaptive('<tablet')
    {
        padding-top : 30px;
    }
    &:before
    {
        background   : url(/templates/bunker-lab/img/pic-bus.png) center center no-repeat;
        content      : '';
        position     : absolute;
        right        : 50%;
        margin-right : -100px;
        top          : -35px;
        width        : 200px;
        height       : 60px;
    }

    @extend %Content-Node;
    @extend %Block-Standard;
    margin-top : 100px;

    header
    {
        text-align     : center;
        text-transform : uppercase;

        h3
        {
            @extend %Heading-Std;
        }

        p
        {
            margin-top     : 25px;
            letter-spacing : .03em;
        }
    }

    @at-root .Advantages-List
    {
        @extend %Grid-I-Container;
        margin-top : 50px;

        @at-root .Advantages-Item
        {
            width          : 100%;
            @extend %Grid-I-TS-1-2;
            @extend %Grid-I-DL-1-3;
            padding-bottom : 30px;
            vertical-align : top;
            text-align     : center;

            object
            {
                @extend %Block-Centrate;
                height        : 80px;
                margin-bottom : 15px;
            }

            h4
            {
                font-size      : 16px;
                font-weight    : 600;
                text-transform : uppercase;
            }

            p
            {
                margin-top : 5px;
                font-size  : 13px;

                @include Adaptive('>=desktop')
                {
                    font-size : 14px;
                }
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
