// ---------------------------------------------------------------------------------------------------------------------
// Discounts Block
// ---------------------------------------------------------------------------------------------------------------------

#Discounts
{
    @extend %Content-Node;
    padding: 20px;
    background: radial-gradient( $Color-Primary , $Color-Secondary );
    box-shadow: 0 3px 0 -2px rgba( 0 , 0 , 0 , .2);
    border-radius: 2px;
    text-align : center;
    @include Adaptive( '>=tablet' )
    {
        padding: 30px;
    }

    h3
    {
        @extend %Heading-Std;
        color :#fff;
    }

    @at-root .Discounts-List
    {
        @extend %Grid-I-Container;
        margin-top: 60px;

        @at-root .Discounts-Item
        {
            width : 100%;
            @extend %Grid-I-TL-1-2;
            @extend %Grid-I-DS-1-4;
            padding-bottom: 40px;
            color: #fff;

            @at-root .Discount-Icon
            {
                display : block;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                border-radius: 100%;
                border: 5px dotted #fff;
                text-align : center;

                span
                {
                    text-align : center;
                    text-transform : uppercase;
                    line-height: 130px;
                    vertical-align : middle;
                    font-weight : 600;
                    font-size: 60px;
                    &.Small
                    {
                        font-size: 20px;
                    }
                }
            }

            p
            {
                margin-top: 20px;
                text-align : center;
                font-size : 14px;
            }
        }
    }

    @at-root .Warning-Message
    {
        display : inline-block;
        margin: 20px auto 0;
        padding: 15px;
        background-color : #fff;
        color: #555;
        font-weight : 600;
        border: 2px solid transparent;
        border-radius: 2px;
        box-shadow: 0 6px 0 -2px rgba( 0 , 0 , 0 , .2);
        text-decoration : none;
        transition: all .3s;
        &:hover
        {
            background-color : transparent;
            border-color: #fff;
            color: #fff;
            box-shadow:none;
        }
    }

}

// ---------------------------------------------------------------------------------------------------------------------
