// ---------------------------------------------------------------------------------------------------------------------
// Site Footer
// ---------------------------------------------------------------------------------------------------------------------

#Contacts
{
    margin-top : 50px;

    @include Adaptive('<tablet')
    {
        padding : 0 20px;
    }

    .Node
    {
        @extend %Content-Node;
        font-size : 0;
    }

    .Phone-Numbers
    {
        margin-bottom : 50px;
        width         : 100%;
        text-align    : center;
        li
        {
            width : 50%;
            @extend %Grid-I-DS-1-5;

            @include Adaptive('<desktop')
            {
                margin-bottom : 20px;
            }

        }
    }
    .Operator
    {
        font-size : 11px;
        color     : $Color-Primary;
    }

    .tel,
    .email
    {
        font-size   : 12px;
        font-weight : 600;
        white-space : nowrap;

        a
        {
            color           : black;
            font-weight     : 600;
            text-decoration : none;
        }

        @include Adaptive('>=desktop')
        {
            font-size : 16px;
        }

        @include Adaptive('>=hdready')
        {
            font-size : 20px;
        }
    }
}

.Copyright
{
    @extend %Clearfix;
    width            : 100%;
    padding          : 40px 0 15px;

    color            : white;
    text-align       : center;
    font-size        : 14px;
    font-weight      : 600;
    background-color : rgb(24, 24, 24);

    @include Adaptive('<desktop')
    {
        padding : 40px 30px 10px;
    }

    .Node
    {
        @extend %Content-Node;
        font-size : inherit;

    }

    @at-root .Copyright-Description
    {
        float      : left;
        text-align : left;
        @include Adaptive('<desktop')
        {
            width          : 100%;
            text-align     : center;
            padding-bottom : 20px;
        }
    }

    @at-root .Site-Author
    {
        float : right;
        @include Adaptive('<desktop')
        {
            display    : inline-block;
            float      : none;
            text-align : center;
        }

        .Icon
        {
            position    : relative;
            display     : inline-block;
            width       : 40px;
            height      : 40px;
            float       : right;
            margin-left : 10px;

            top         : -8px;
        }

        a
        {
            color           : $Color-Primary;
            text-decoration : none;
        }
    }

}

// ---------------------------------------------------------------------------------------------------------------------
