$Ham-Size : 20px;
$Ham-Thickness : 3px;
$Ham-Padding-Around : 15px;
.Hamburger
{
    position : absolute;
    top      : 0;
    right    : 0;
    display  : block;
    float    : right;
    margin   : 25px 15px 0 -10px;
    width    : $Ham-Size;
    height   : $Ham-Size;
    cursor   : pointer;
    padding  : 25px 35px 25px 25px;
    transition : all .5s ease-in-out;

    @include Adaptive('>=tablet')
    {
        display : none;
    }

    span,
    span:before,
    span:after
    {
        content       : '';
        position      : absolute;
        display       : block;
        cursor        : pointer;
        border-radius : 35%;
        height        : $Ham-Thickness;
        width         : $Ham-Size;
        background    : #000;
        transition : all .5s ease-in-out;
    }
    span
    {
        transition : all .1s ease-in-out;
    }
    span:before
    {
        top : -6px;
    }

    span:after
    {
        bottom : -6px;
    }

}

nav
{
    &.Active span
    {
        background-color : transparent;
        transition : all .1s ease-in-out;
    }
    &.Active span:before,
    &.Active span:after
    {
        top : 0;
    }
    &.Active span:before
    {
        transform : rotate(360deg + 45deg);
    }
    &.Active span:after
    {
        transform : rotate(360deg + 135deg);
    }
}