// ---------------------------------------------------------------------------------------------------------------------
// Site Header
// ---------------------------------------------------------------------------------------------------------------------

.Site-Header
{
    background      : #fff url(/templates/bunker-lab/img/bg-road.jpg) center bottom no-repeat;
    background-size : cover;
    padding-bottom  : 150px;

    @include Adaptive('>=tablet')
    {
        padding-bottom : 300px;
    }
    @at-root .Top-Bar-Wrapper
    {
        background-color : #fff;
    }
    @at-root .Top-Bar
    {
        @extend %Clearfix;
        @extend %Content-Node;
        padding          : 30px 0;
        background-color : #fff;
    }
}

// ---------------------------------------------------------------------------------------------------------------------

.Logo
{
    @extend %Grid-F-TL-1-3;
    @extend %Grid-F-DS-1-5;
    display         : inline-block;
    text-decoration : none;

    object
    {
        display        : inline-block;
        vertical-align : middle;
    }

    @include Adaptive('<tablet')
    {
        .Icon
        {
            margin-right : 20px;
        }
        .Name
        {

        }
    }
}

@include Adaptive('<tablet')
{
    .Logo
    {
        margin : 0 30px;
    }
}

.Phone-Numbers-List
{
    @extend %Grid-F-TL-2-3;
    @extend %Grid-F-DS-4-5;
    @extend %Grid-F-Container;
    @extend %Clearfix;
    @include Hide('<tablet');
}

.Phone-Numbers-Item
{
    @extend %Grid-F-TS-1-2;
    @extend %Grid-F-DS-1-4;

    .Operator
    {
        font-size   : 13px;
        font-weight : 600;
        color       : $Color-Primary;
    }
    .tel
    {
        font-size  : 18px;
        transition : font-size .3s;

        @include Adaptive('>=hdready')
        {
            font-size : 20px;
        }

    }
}

nav
{
    &.Nav-Fixed
    {
        display : none;
    }
    @include Adaptive('<tablet')
    {
        overflow : hidden;
    }
    @include Adaptive('>=tablet')
    {
        &.Nav-Fixed
        {
            display    : block;
            position   : fixed;
            width      : 100%;
            top        : -65px;
            transition : 0.3s ease;
        }
        position         : static;
        background-color : rgba(0, 0, 0, .8);
        border-top       : 4px solid $Color-Primary;
    }
    ul
    {
        @include Adaptive('>=tablet')
        {
            width      : 700px;
            margin     : 0 auto;
            padding    : 5px 0;
            text-align : center;
        }
        @include Adaptive('>=desktop')
        {
            width : 1000px
        }

        .Navigation-Item
        {

            @include Adaptive('>=tablet')
            {
                display : inline-block;
            }

            // Navigation Link
            a
            {
                display         : block;
                text-transform  : uppercase;
                text-decoration : none;
                transition      : font-size .1s, padding .1s, // Animate adaptivity
                border .3s, color .3s;

                @include Adaptive('<tablet')
                {
                    display          : block;
                    width            : 100%;
                    padding          : 15px 0;
                    background-color : rgba(255, 255, 255, .9);
                    color            : #000;
                    text-align       : center;

                    &:hover
                    {
                        color            : white;
                        background-color : $Color-Primary;
                    }

                }

                @include Adaptive('>=tablet')
                {
                    padding       : 15px 10px;
                    font-size     : 14px;
                    color         : #fff;
                    border        : 2px solid transparent;
                    border-radius : 4px;

                    &:hover, &.Active
                    {
                        border-color : $Color-Primary;
                    }
                }

                @include Adaptive('>=desktop')
                {
                    padding   : 15px 20px;
                    font-size : 16px;
                }
            }

        }
        @include Adaptive('<tablet')
        {
            li + li
            {
                border-top : 1px solid rgba(230, 230, 230, .9);
            }
        }
    }
}

.Middle
{
    @extend %Transparent-Black;
    margin-top   : 100px;
    margin-left  : 20px;
    margin-right : 20px;
    text-align   : center;
    padding      : 30px;

    @include Adaptive('>=tablet')
    {
        margin : 100px auto 0;
        width  : 700px;
    }

    @at-root h2
    {
        font-size     : 26px;
        line-height   : 1.2;
        color         : #fff;
        margin-bottom : 20px;
    }

    input
    {
        @extend %Input-Std;
        width          : 100%;
        margin-bottom  : 20px;
        vertical-align : middle;
        text-align     : center;

        @include Adaptive('>=tablet')
        {
            width         : auto;
            margin-bottom : 0;
        }
    }

    .Button
    {
        @extend %Button-Std;
        vertical-align : middle;
    }
}


.JS-Form-Result
{
    color          : white;
    padding-top    : 20px;
    font-size      : 12px;
    text-transform : uppercase;
}