// ---------------------------------------------------------------------------------------------------------------------
// Routes Block
// ---------------------------------------------------------------------------------------------------------------------

.JS-Tabs
{
    text-align : center;
}

.Routes
{
    @extend %Content-Node;
    @extend %Block-Standard;
    margin-top : -100px !important;

    @include Adaptive('<tablet')
    {
        margin-left  : 20px;
        margin-right : 20px;
    }
    @include Adaptive('>=tablet')
    {
        padding : 0;
    }

    .Routes-Captions-List
    {
        font-size  : 0;
        text-align : center;
        vertical-align: top;

        .Routes-Item
        {
            @extend %Grid-I-TL-1-4;
            @extend %Grid-I-DS-1-7;

            text-align : center;
            vertical-align: top;

            @include Adaptive('<tablet')
            {
                width : 100%;
            }

            & + li
            {
                @include Adaptive('<tablet')
                {
                    margin-top    : 10px;
                    margin-bottom : 0;
                }
            }

            &:nth-child(-n + 3)
            {
                @include Adaptive('>=tablet', '<desktop')
                {
                    margin-bottom : 20px;
                }
            }

            .Route-Img
            {
                @include Hide('<tablet');
                display       : block;
                width         : 100%;
                border        : 1px solid #fff;
                margin-bottom : 10px;

            }

            a
            {
                position : relative;
                display         : inline-block;
                padding         : 20px 10px;
                font-size       : 14px;
                color           : #000;
                text-decoration : none;
                transition      : 0.3s ease;

                &:hover, &.Active
                {
                    color      : $Color-Primary;
                    background-color: #e2e2e2;
                    @include Adaptive('<tablet')
                    {
                        border : 1px solid #ff4d00;
                    }

                    @include Adaptive('<tablet')
                    {
                        .Route-Img
                        {
                            border-color : #555;
                        }
                    }
                    @include Adaptive('>=tablet')
                    {
                        &:after
                        {
                            position : absolute;
                            content : '';
                            bottom: -4px;
                            left: 0;
                            right: 0;
                            height: 4px;
                            background-color: #555;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                    transition : 0.3s ease;
                }

                @include Adaptive('<tablet')
                {
                    display : block;
                    padding : 15px 10px;
                    border  : 1px solid #999;
                }

                @include Adaptive('>=tablet')
                {
                    font-size : 16px;
                }
                @include Adaptive('>=desktop')
                {
                    font-size : 14px;
                }
                @include Adaptive('>=hdready')
                {
                    font-size : 14px;
                }


                img
                {
                    vertical-align : middle;
                    transition     : 0.3s ease;
                }
            }
        }
    }
}

.Order-Button
{
    padding          : 10px;
    color            : #fff;
    background-color : $Color-Primary;
    text-decoration  : none;
    border-radius    : 2px;
    box-shadow       : 0 2px 0 0 rgba(0, 0, 0, 0.1);
    transition       : all .3s;

    @include Adaptive('<tablet')
    {
        display    : inline-block;
        margin-top : 40px;
    }
    &:hover
    {
        background-color : $Color-Secondary;
    }

}

.JS-Tabs
{
    .Warning-Message
    {
        display    : table;
        margin-top : 0;
        box-shadow : 0 6px 0 -2px rgb(255, 77, 0);

        &:hover
        {
            background-color : rgb(255, 77, 0);
            border-color     : rgb(255, 77, 0);
        }
    }
}

.Routes-Content-List
{
    @extend %Content-Node;
    @extend %Clearfix;
    @extend %Grid-I-Container;
    margin-top : 20px;

    .Time,
    .Price
    {
        color : $Color-Primary;
    }
    li
    {
        width          : 100%;
        @extend %Grid-I-TL-1-2;
        @extend %Grid-Inline;
        padding        : 0 30px;

        vertical-align : top;

        @include Adaptive('<tablet')
        {
            & + li
            {
                margin-top : 60px;
            }
        }
        @include Adaptive('>tablet')
        {
            padding-bottom : 50px;
        }

        header
        {
            border-bottom : 1px solid #dadada;
            padding       : 20px 0;
            margin-bottom : 20px;

            @include Adaptive('>=desktop')
            {
                padding    : 20px 0 20px 30%;
                text-align : left;
            }

            h3
            {
                font-size   : 25px;
                font-weight : 600;
            }
            small
            {
                font-size   : 14px;
                font-weight : 600;
                color       : #7b7b7b;
            }
        }

        dl
        {
            overflow : hidden;
            dt
            {
                text-align : center;
                font-style : italic;
                color      : #7b7b7b;
                font-size  : 12px;

                @include Adaptive('>=desktop')
                {
                    text-align : left;
                    float      : left;
                    width      : 30%;
                    font-size  : 13px;
                }
            }

            dd
            {
                text-align     : left;
                display        : inline-block;
                vertical-align : middle;
                font-weight    : 600;
                font-size      : 14px;

                @include Adaptive('>=desktop')
                {
                    float     : right;
                    width     : 70%;
                    font-size : 16px;
                }
            }

            & + dl
            {
                margin-top : 20px;
            }
        }
        footer
        {
            margin-top  : 20px;
            padding-top : 20px;
            border-top  : 1px solid #dadada;
            text-align  : center;

            @include Adaptive('>=desktop')
            {
                padding    : 20px 0 0 30%;
                text-align : left;
            }

            @at-root .Show-on-Map
            {
                color           : #000;
                font-size       : 14px;
                text-decoration : none;
                border-bottom   : 1px dashed #555;
                transition      : all .3s;
                cursor          : pointer;

                &:hover
                {
                    color        : $Color-Primary;
                    border-color : $Color-Primary;
                }
            }
        }
    }

}

// ---------------------------------------------------------------------------------------------------------------------