*
{
    box-sizing   : border-box;
    font-kerning : normal;
}

html
{
    overflow-x : hidden;
}

body
{
    font-family      : 'Open Sans', verdana, helvetica, sans-serif;
    min-width        : 320px;
    background-color : #ececec;

    animation        : Body-Fade-In 1.5s;
}

/* Track */
::-webkit-scrollbar
{
    width : 10px;
}

::-webkit-scrollbar-track
{
    background : #fff;
    box-shadow : 0 0 2px #aaa inset;
}

::-webkit-scrollbar-thumb
{
    border-radius : 2px;
    background    : #ff4d00;
}

::-webkit-scrollbar-thumb:window-inactive
{
    background : #ff4d00;
}

@keyframes Body-Fade-In
{
    0%
    {
        opacity : 0;
    }

    40%
    {
        opacity : 0;
    }
    100%
    {
        opacity : 1;
    }
}

::-webkit-input-placeholder
{
    font-weight : 300;
}

:-moz-placeholder
{
    font-weight : 300;
}

::-moz-placeholder
{
    font-weight : 300;
}

:-ms-input-placeholder
{
    font-weight : 300;
}