.Node
{
    width : 100%;
}

.Section-Heading
{
    @extend %Text-Centrate;
    padding-top    : $Section-Padding;
    font-size      : 28px;
    font-weight    : 600;
    letter-spacing : 1px;
    text-transform : uppercase;
    color          : #555;
}
