////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 01. Site-Header
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#Site-Header
{
    background-color : #333;
    background-size  : auto;
    transition       : 0.6s;
    animation        : 300s Back-Loop infinite;
    @include media('>tablet')
    {
        background : url(../img/bg-header.jpg) left top no-repeat;
    }
}

.Fixed-Navigation
{
    top        : -50px;
    width      : 100%;
    position   : fixed;
    z-index    : 100;
    left       : 0;
    right      : 0;

    background : white;
    box-shadow : 0 0 20px rgba(0, 0, 0, 0.15);

    transition : 0.2s ease;

    @include media('<tablet')
    {
        height: 50px;
        padding: 10px 30px;
    }
}

.Node
{
    @include media('>=tablet')
    {
        width  : 740px;
        margin : 0 auto;
    }
    @include media('>=desktop')
    {
        width : 1000px;
    }
    @include media('>=default')
    {
        width : 1200px;
    }
}

#Top
{
    @extend %Clearfix;
    background-color : #fff;
    box-shadow       : 0 5px 0 rgba(0, 0, 0, .2);
    @include media('<=tablet')
    {
        padding : 10px 0;
    }
}

#Middle
{
    @extend %Clearfix;
}

#Header-Title
{
    @include media('>=tablet')
    {
        float : left;
        width : 40%;
    }

    @include media('>=desktop')
    {
        width      : 750px;
        margin-top : 25px;
    }

    img
    {
        @extend %Block-Centrate;
        display : block;
    }

    h1
    {
        padding          : 5px;
        font-size        : 22px;
        font-weight      : 700;
        color            : #fff;
        text-align       : center;
        text-transform   : uppercase;

        @include media('>=tablet')
        {
            padding : 15px;
            background-color : rgba(0, 0, 0, .5);
            border           : 3px solid #fff;
            border-radius    : $Border-Radius;
        }
        @include media('>=desktop')
        {
            font-size : 59px;
        }

        small
        {
            display        : block;
            font-size      : 10px;
            letter-spacing : 1px;

            @include media ('>=desktop')
            {
                font-size : 31px;
            }
        }
    }
}

#Offer
{
    @extend %Text-Centrate;

    margin           : 50px auto;
    padding          : 30px 15px;
    background-color : #fff;

    @include media('>=tablet')
    {
        width         : 400px;
        height        : 430px;
        float         : right;
        margin        : 50px 0;
        padding       : 25px;
        border-radius : $Border-Radius;
        box-shadow    : 0 8px 7.84px 0.16px rgba(0, 0, 0, .2);
    }

    .Offer-Form
    {
        display : none;

        .Message
        {
            padding     : 40px 0;
            font-size   : 18px;
            line-height : 24px;

            &.Error
            {
                color : $Color-Primary;
            }

        }
    }

    .Offer-Title
    {
        text-align     : center;
        text-transform : uppercase;
        font-size      : 17px;

        @include media('>=tablet')
        {
            font-size : 19.5px;
        }

        small
        {
            font-size : 17px;

            @include media('>=tablet')
            {
                font-size : 32px;
            }
        }

    }

    input
    {
        width         : 100%;

        padding       : 20px 15px;
        margin-top    : 20px;

        border-radius : 10px;
        border        : 2px solid #ae4f0d;
        outline       : none;

        font-size     : 18px;
    }

    .Callback-Button
    {
        width      : 100%;
        box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);
    }
}

.Phone-Numbers
{
    margin-top : 20px;

    .Operator
    {
        display       : block;
        margin-top    : 10px;
        margin-bottom : 5px;
        font-size     : 11px;
        font-weight   : 600;
        color         : $Color-Primary;
    }

    .tel,
    .email
    {
        font-weight : 700;
    }
}

#Offer .Phone-Numbers
{
    .Operator
    {
        font-size : 12px;
    }
    .tel
    {
        font-size : 30px;
    }
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// 02. Routes
// ---------------------------------------------------------------------------------------------------------------------

#Routes .Node
{
    @extend %White-Block;
}

.Tab-Captions
{
    margin-top : 35px;
    text-align : center;

    li
    {
        @extend %Animation-Soft;

        margin    : 2px;
        display   : inline-block;
        padding   : 10px 14px;
        font-size : 18px;
        border    : 2px solid transparent;
        cursor    : pointer;

        @include media('<tablet')
        {
            font-size : 15px;
            width     : 48%;
        }

        @include media('>=tablet', '<=desktop')
        {
            font-size : 14px;
            width     : 24%;
        }
    }

    li:hover,
    .Active
    {
        border-radius : $Border-Radius;
        border        : 2px solid $Color-Primary;
    }
}

.Tab-Contents
{
    @extend %Clearfix;

    .Tab-Content-Item
    {
        display : none;
        margin  : 50px 0;

        &.Active
        {
            display : block;
        }

        h4
        {
            font-size      : 18px;
            text-align     : center;
            text-transform : uppercase;

            margin-bottom  : 40px;
            .Route
            {
                color       : #ff4d00;
                font-weight : bold;
            }
        }
        .Clearfix + h4
        {
            margin-top : 40px;
        }
    }

    .Route-Info
    {
        margin-bottom : 20px;

        @include media('>=desktop')
        {
            float : left;
        }

    }
    dl
    {
        line-height : 1.45;

        & + dl
        {
            margin-top : 25px;

            @include media('<tablet')
            {
                padding-top : 10px;
                border-top  : 1px solid #eee;
            }
        }

        dt
        {

            padding-right : 50px;
            font-weight   : 400;
            font-style    : italic;

            @include media('>=tablet')
            {
                float      : left;
                width      : 250px;
                text-align : right;
            }
        }
        dd
        {
            overflow    : hidden;
            font-weight : 600;

            @include media('>=tablet')
            {
                width : 400px;
            }
        }
    }

    .Page-Nav
    {
        display         : inline-block;
        margin-left     : 10px;
        border-bottom   : 1px dashed $Color-Primary;
        color           : $Color-Primary;
        font-weight     : 400;
        text-decoration : none;
    }

    .Time,
    .Price
    {
        display       : inline-block;
        padding       : 0 10px;
        background    : linear-gradient(to top, $Color-Primary, $Color-Secondary);
        color         : #fff;
        border-radius : $Border-Radius;
    }

    .Map
    {
        @extend %Clearfix;
        position         : relative;
        display          : none;
        overflow         : hidden;
        width            : 100%;

        background-color : #eee;
        border-radius    : $Border-Radius;
        border           : 4px #eee solid;

        margin-top       : 40px;
        float            : left;

        iframe
        {
            width  : 100%;
            height : 500px;
        }
    }
}

.Callback-Button
{
    @extend %Animation-Soft;
    @extend %Block-Centrate;

    display          : inline-block;
    margin-top       : 25px;
    padding          : 10px 25px;
    font-size        : 26px;
    border           : none;
    border-radius    : $Border-Radius;
    background-color : $Color-Primary;
    text-decoration  : none;
    color            : #fff;
    cursor           : pointer;

    img
    {
        margin-right   : 20px;
        vertical-align : middle;
    }
    span
    {
        line-height : 30px;
    }

    &:hover
    {
        background-color : #333;
    }

}

#Routes .Callback-Button
{
    @extend %Block-Centrate;
    display       : block;
    width         : 310px;
    margin-bottom : $Section-Padding;
    cursor        : pointer;
}

.Map-Icon
{
    width         : 100%;
    height        : 213px;
    border-radius : $Border-Radius;
    border        : 4px #eee solid;
    background    : url(../img/bg-map.jpg) center center no-repeat;
    text-align    : center;

    @include media('>=tablet')
    {
        width : 400px;
    }

    @include media('>=desktop')
    {
        float : right;
    }

    .Map-Cover
    {
        position : absolute;
        z-index  : 1;
        width    : 100%;
        height   : 100%;
    }

    a
    {
        display          : inline-block;
        margin-top       : 95px;
        padding          : 5px;
        background-color : $Color-Primary;
        color            : #fff;
        text-decoration  : none;

        @include media('>=tablet')
        {
            padding       : 10px 15px;
            border-radius : $Border-Radius;
        }
    }

}

.Map-Cover
{
    position : absolute;
    z-index  : 1;
    width    : 100%;
    height   : 100%;
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// 05. About Us
// ---------------------------------------------------------------------------------------------------------------------

#About-Us
{
    //border : 4px #eee solid;

    article
    {
        @extend %White-Block;
        margin : auto;

        @include media('>=tablet')
        {
            padding : $Section-Padding;
        }

        @at-root #About-Us .About-Heading
        {
            margin    : 0;
            font-size : 40px;
            color     : $Color-Gray;
        }

        p
        {
            line-height : 140%;
        }

        * + *
        {
            margin-top : 20px;
        }

        ul
        {
            margin     : 20px 0;

            list-style : disc;

            li
            {
                margin-left  : 30px;
                padding-left : 15px;
                line-height  : 1.4;
            }

            li + li
            {
                margin-top : 15px;
            }

        }

        h5
        {
            font-weight : 600;
            line-height : 1.3;
        }

        .About-Pic
        {
            display       : block;
            width         : 100%;
            margin-bottom : 20px;
            border        : 3px solid #fff;
            box-shadow    : 0 0 5px rgba(0, 0, 0, .3);

            @include media('>tablet')
            {
                margin-right : 20px;
                float        : left;
                width        : 250px;
            }
            @include media('>desktop')
            {
                width : 400px;
            }
        }
    }

}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// 06. Contacts
// ---------------------------------------------------------------------------------------------------------------------
#Contacts
{
    @include media('<tablet')
    {
        padding : 0 30px;
    }
    .Node
    {
        padding        : $Section-Padding 0;
        font-size      : 0;
        text-align     : center;
        vertical-align : middle;
    }

    .Copyright
    {
        display        : inline-block;
        vertical-align : middle;
        width          : 100%;
        font-size      : 12px;
        line-height    : 150%;
        text-align     : left;
        color          : #555;

        @include media('>=tablet')
        {
            width : 35%;
        }
    }

    .Phone-Numbers
    {
        margin         : 0;
        display        : inline-block;
        vertical-align : middle;
        width          : 100%;
        margin-top     : 50px;

        @include media('>=tablet')
        {
            width      : 65%;
            margin-top : 0;
        }
        li
        {
            text-align    : left;
            margin-bottom : 20px;
            @include media('>=tablet')
            {
                width   : 20%;
                display : inline-block;
                margin  : 0;
            }
        }

        .Operator
        {
            margin : 0;
        }

        .tel,
        .email
        {
            display        : inline-block;
            margin-top     : 5px;
            font-size      : 13px;
            letter-spacing : 1px;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
@keyframes Back-Loop
{
    0%
    {
        background-size : 100%;
    }
    50%
    {
        background-size : 200%;
    }
    100%
    {
        background-size : 100%;
    }
}